fastapi
uvicorn[standard]
sqlalchemy
alembic
pymysql
cryptography
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
python-dotenv
pytz
email-validator
slowapi
